:root {
  --brand-color: #212121;
  --accent-color: #2196f3;
  --basic-color: #ffffff;
  --fon-color: #2f303a;
  --letter-color: #757575;
  --background-team-color: #f5f4fa;
  --black-color: #000000;
  --link-color: #188ce8;
}

/*NORMALIZE*/
a {
  display: inline-block;
}

/*RESET*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/*reset*/

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--basic-color);
}

/*HEADER*/
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-links-text:not(:last-child) {
  margin-right: 50px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav-links {
  display: flex;
  margin: 0;
  margin-left: 93px;
  padding: 0;
  align-items: center;
}

.nav-contakts {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  align-items: center;
}
.marker {
  list-style: none;
}

/*HEADER-logo*/

.header-webstudio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.header-webstudio .header-studio {
  color: var(--black-color);
}

.link {
  color: var(--brand-color);
  font-weight: 500;

  line-height: 1.2;
  text-decoration: none;
}
.link:hover {
  color: var(--accent-color);
}
.link:focus {
  color: var(--accent-color);
}

span .header-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700px;
}

.contacts-mail {
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: var(--letter-color);
}

.contacts-mail:hover {
  color: var(--link-color);
}
.contacts-mail:focus {
  color: var(--link-color);
}

.contacts-tel {
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: var(--letter-color);
}

.contacts-tel:hover {
  color: var(--link-color);
}
.contacts-tel:focus {
  color: var(--link-color);
}

/*MAIN*/
/*hero*/
.hero {
  background-color: var(--fon-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--basic-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: 252px;
  margin-right: 252px;
  margin-top: 0px;
}

/*our mission*/
/*hiden*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-contents {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 10px;
  color: var(--brend-color);
}
.title-contents-size {
  width: 270px;
}

.title-contents-size:not(:last-child) {
  margin-right: 30px;
}

.title-contents-form {
  display: flex;
  justify-content: space-between;
}

.content {
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--letter-color);
  margin-bottom: 0px;
}

.work {
  padding-top: 0px;
}

.our-works {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.our-team {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.fon-section-team {
  background: var(--background-team-color);
}

.our-team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--basic-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03ex;
  color: var(--letter-color);
  text-align: center;
  padding-bottom: 30px;
  margin: 0px;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03ex;
  color: var(--brand-color);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

/*FOOTER*/

.footer-webstudio {
  font-family: 'Raleway', sans-serif;
  line-height: 1.18;
  text-decoration: none;
}

span .footer-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700px;
}

.foot {
  background-color: var(--fon-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-footer {
  font-style: normal;
  font-weight: 400;
  line-height: 1.68;
  text-decoration: none;
  color: rgba(225, 225, 225, 0.6);
}
.contact-footer-form:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer:hover {
  color: var(--accent-color);
}
.contact-adress {
  font-style: normal;
  font-weight: 400;
  line-height: 1.68;
  text-decoration: none;
  color: var(--basic-color);
}

.footer-webstudio {
  color: var(--accent-color);
}
.footer-webstudio .studio {
  color: var(--basic-color);
}

.footer-webstudio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  margin-bottom: 20px;
}
/*HEADER PORTFOLIO*/

.header {
  border: 1px solid #ececec;
}

/*MAIN PORTFOLIO*/
/* buttons portfolio*/
.button-header {
  background-color: var(--accent-color);

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, g0reen, bl0ue, 0.15);
  text-align: center;
}

.button-position {
  text-align: center;
}
*/ .button:hover {
  background-color: #188ce8;
}

.current-portfolio:hover {
  background: var(--accent-color);
  color: var(--basic-color);
}
.current-portfolio:focus {
  background: var(--accent-color);
  color: var(--basic-color);
}
.current-portfolio:active {
  background: var(--accent-color);
  color: var(--basic-color);
  border-color: var(--basic-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.name_button-port {
  color: var(--black-color);
}

.name-button {
  color: var(--basic-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  margin: 0px;
  padding: 10px 32px 10px 32px;
}

/*our project*/
.button-size {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.cards-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.53;
  border-radius: 4px;
  font-family: inherit;
  background: var(--background-team-color);

  cursor: pointer;
  border: var(--letter-color);
}
.cards-portfolio:hover {
  background-color: var(--accent-color);
}

.name-project {
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-left: 24px;
  font-weight: 700;
}

.portfolio-container-button {
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.portfolio-list-button:not(:last-child) {
  margin-right: 8px;
}

.cards-portfolio:not(:last-child) {
  margin-right: 8px;
}

.our-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  gap: 30px;
}

.our-project-card {
  background: var(--basic-color);
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
}

.contacts {
  color: var(--letter-color);
  text-decoration: none;
}
.contacts:hover {
  color: var(--accent-color);
}
.contacts:focus {
  color: var(--accent-color);
}

.contact-footer-list {
  display: block;
  padding: 0px;
  margin: 0px;
}

.job {
padding-left: 24px;
padding-bottom: 20px;
margin-bottom: 0px;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: var(--letter-color);}

/*MAIN PORTFOLIO*/

.contact-footer-form {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-portfolio-button {
  padding-bottom: 50px;
}

.section-portfolio-project {
  padding-top: 0px;
}
